body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: rgb(255, 255, 255);

	background-color: rgb(132, 157, 143);
}

a {
	text-decoration: none;
}
/*Styles for Overall Site*/
.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1146px;
	margin: auto;
	padding: 0 27px;
}

.text-bold {
	font-weight: 700;
}

.btn {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: rgb(255, 255, 255);
}
/*END of Styles for Overall Site*/

/*General Header*/
.main-navigation-list {
	list-style: none;
}

.main-navigation-link {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;	
	color: rgb(255, 255, 255);
}

.main-navigation-link:hover,
.main-navigation-link:focus {
	color: rgb(50, 50, 50);

	background-color: rgb(247, 246, 243);
}

.main-navigation-link:active {
	background-color: rgb(237, 237, 237);
}

.main-navigation-link-current {
	background-color: rgb(208, 112, 88);
}

.dropdown-menu-list {
	list-style: none;	
}

.dropdown-menu-item a {
	font-size: 14px;
	line-height: 16px;
	color: rgb(50, 50, 50);
	background-color: rgb(247, 246, 243);
}

.dropdown-menu-item a:hover,
.dropdown-menu-item a:focus {
	background-color: rgb(251, 222, 215);
}

.dropdown-menu-item a:active {
	background-color: rgb(246, 181, 165);
}

a.dropdown-link-current {
	background-color: rgb(208, 112, 88);
}

.user-navigation {	
	list-style: none;
}

.user-navigation-link {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;	
	color: rgb(255, 255, 255);

	background-color: rgba(255, 255, 255, .2);
}

.user-navigation-link:hover,
.user-navigation-link:focus,
.user-navigation-link:active {
	color: rgb(50, 50, 50);

	background-color: rgb(247, 246, 243);
}

.cart {
	background-color: rgb(248, 247, 244);
}

.cart-product,
.cart-cost {
	font-size: 13px;
	line-height: 16px;
	color: rgb(50, 50, 50);
}

.cart-product:hover,
.cart-product:focus {
	color: rgb(232, 77, 55);
}

.cart-prod-price {
	color: rgb(153, 153, 153);
}

.cart-summ {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: rgb(50, 50, 50);
}
/*END of General Header*/

.breadcrumbs-list {
	list-style: none;
}

.breadcrumbs-link,
.breadcrumbs-current {
	font-size: 14px;
	line-height: 16px;
	color: rgb(255, 255, 255);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active {
	color: rgb(255, 188, 158);
}

.catalog-title {
	font-size: 35px;
	line-height: 41px;
}

.schedule {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.phone-numb {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

.slider-list {
	list-style: none;
}

.slider-item p {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}

.offers-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.offers-desc {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.fieldset-filter {
	border: none;
}	

.filter-title {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-assortment {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, .2);
	border: none;
}

.filter-assortment:hover,
.filter-assortment:focus {
	color: rgb(50, 50, 50);
}

.filter-sort {
	font-size: 14px;
	line-height: 16px;
	color: rgb(50, 50, 50);
	background-color: #fff;
}

.filter-cost:hover {
	cursor: pointer;
}

.filter-layout {
	background-color: rgba(255, 255, 255, .2);
}

.filter-value {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.btn-filter {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, .2);
}

.btn-filter:hover,
.btn-filter:focus {
	color: rgb(50, 50, 50);
	background-color: rgb(255, 255, 255);
}

.btn-filter:active {
	color: rgb(50, 50, 50);
	background-color: rgb(234, 234, 234);
}

/*Goods*/
.products-list {
	list-style: none;
}

.product-link {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;	
	color: rgb(255, 255, 255);
}

.product-link:hover,
.product-link:focus,
.product-link:active {
	color: rgb(255, 188, 158);
}

.product-price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.product-price span {
	font-size: 30px;
}
/*END of Goods*/

.features {
	color: rgb(50, 50, 50);
}

.features-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.features-list {
	list-style: none;
}

.features-item {
	font-size: 16px;
	line-height: 22px;
}

.blog {
	background-color: rgb(255, 255, 255);
}

.blog-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: rgb(50, 50, 50);
}

.blog-link {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: rgb(50, 50, 50);
	text-decoration: underline;
}

.blog-link:hover,
.blog-link:focus,
.blog-link:active {
	color: rgb(232, 77, 55);
}

.subscribe-txt {
	color: rgb(90, 90, 90);
	background-color: rgb(248, 247, 244);
}

.contacts-info {
	background-color: rgb(255, 255, 255);
}

.contacts-description {
	font-size: 14px;
	line-height: 20px;
	color: rgb(50, 50, 50);
}

.contacts-data {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;	
}

.pagination-list {
	list-style: none;
}

.pagination-item a {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: rgb(255, 255, 255);
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: rgba(255, 255, 255, .2);
}

.pagination-item a:active {
	color: rgb(50, 50, 50);
	background-color: rgb(255, 255, 255);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: rgb(50, 50, 50);
	background-color: rgb(255, 255, 255);
}

.footer-social {
	list-style: none;
}

.footer-menu-list {
	list-style: none;
}

.footer-menu-link {
	font-size: 13px;
	line-height: 18px;
	color: rgb(255, 255, 255);
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
	color: rgb(255, 188, 158);
}

.copyright-txt {
	font-size: 12px;
	line-height: 18px;
	color: rgb(255, 255, 255);
}

.copyright-link{
	color: rgb(255, 255, 255);
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {	
	color: rgb(255, 188, 158);
}

/*Form styling*/
.form {
	background-color: rgb(248, 247, 244);
}

.field-input {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: rgb(50, 50, 50);
}

.field-input::placeholder,
.field-textarea::placeholder {
	font-weight: 400;
	color: rgb(153, 153, 153);
}

.field-input:focus::-webkit-input-placeholder {
	color: transparent;
}

.field-input:focus::-moz-placeholder {
	color: transparent;
}

.field-input:focus:-ms-input-placeholder {
	color: transparent;
}

.field-label {	
	font-size: 11px;
	line-height: 13px;
	color: rgb(91, 157, 223);

	display: none;
}

.field-textarea {
	resize: none;
}

.field-input:focus + .field-label,
.field-textarea:focus + .field-label {
	display: block;	
}

.field-input:hover,
.field-textarea:hover {
}

.login-reg {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: rgb(50, 50, 50);
}

.login-reg:hover,
.login-reg:focus {
	color: rgb(232, 77, 55);
}

.feedback {
	background-color: rgb(248, 247, 244);
}

.feedback-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: rgb(50, 50, 50);
}
/*END of Form styling*/