/*temporary*/
.schedule,
.slider,
.offers,
.contacts-map,
.feedback,
.cart,
.form, 
.filters,
.pagination-list {
	display: none;
}
/*end of temporary*/

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: rgb(255, 255, 255);

	background-color: rgb(132, 157, 143);
}

a {
	text-decoration: none;
}
/*Styles for Overall Site*/
.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1146px;
	margin: auto;
	padding: 0 27px;
}
/*END of Styles for Overall Site*/

/*General Header*/
.main-navigation-list {
	list-style: none;
}

.main-navigation-link {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;	
	color: rgb(255, 255, 255);
}

.main-navigation-link:hover,
.main-navigation-link:focus {
	color: rgb(50, 50, 50);

	background-color: rgb(247, 246, 243);
}

.main-navigation-link:active {
	/*box-shadow inner*/
}

.main-navigation-link-current {
	background-color: rgb(208, 112, 88);
}

.dropdown-menu-list {
	list-style: none;	
}

.dropdown-menu-item a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: rgb(50, 50, 50);
	background-color: rgb(247, 246, 243);
}

.dropdown-menu-item a:hover ,
.dropdown-menu-item a:focus {
	background-color: rgb(251, 222, 215);
}

.dropdown-menu-item a:active {
	background-color: rgb(246, 181, 165);
}

a.dropdown-link-current {
	background-color: rgb(208, 112, 88);	
}

.user-navigation {	
	list-style: none;
}

.user-navigation-link {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;	
	color: rgb(255, 255, 255);

	background-color: rgba(255, 255, 255, .2);
}

.user-navigation-link:hover,
.user-navigation-link:focus,
.user-navigation-link:active {
	color: rgb(50, 50, 50);

	background-color: rgb(247, 246, 243);
}
/*END of General Header*/

.breadcrumbs-list {
	list-style: none;
}

.breadcrumbs-link,
.breadcrumbs-current {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;	
	color: rgb(255, 255, 255);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active {
	color: rgb(255, 188, 158);
}

.catalog-title {
	font-size: 35px;
	line-height: 41px;
}

/*Goods*/
.products-list {
	list-style: none;
}

.product-link {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;	
	color: rgb(255, 255, 255);
}

.product-link:hover,
.product-link:focus,
.product-link:active {
	color: rgb(255, 188, 158);
}

.product-price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.product-price span {
	font-size: 30px;
}
/*END of Goods*/

.features {
	color: rgb(50, 50, 50);
}

.features-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.features-list {
	list-style: none;
}

.features-item {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.blog {
	background-color: rgb(255, 255, 255);
}

.blog-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: rgb(50, 50, 50);
}

.blog-link {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: rgb(50, 50, 50);
	text-decoration: underline;
}

.blog-link:hover,
.blog-link:focus,
.blog-link:active {
	color: rgb(232, 77, 55);
}

.subscribe-txt {
	font-weight: 400;
	color: rgb(90, 90, 90);
	background-color: rgb(248, 247, 244);
}
.footer-social {
	list-style: none;
}

.footer-menu-list {
	list-style: none;
}

.footer-menu-link {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;	
	color: rgb(255, 255, 255);
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
	color: rgb(255, 188, 158);
}	
	
.copyright-txt {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: rgb(255, 255, 255);
}

.copyright-link{
	color: rgb(255, 255, 255);
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {	
	color: rgb(255, 188, 158);
}

/*Unusual Styles*/
.bold-text {
	font-weight: 700;
}