body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: rgb(255, 255, 255);

	background-color: rgb(132, 157, 143);
}

a {
	text-decoration: none;
}
/*Styles for Overall Site*/
.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1146px;
	margin: auto;
	padding: 0 27px;
}

.text-bold {
	font-weight: 700;
}

.row {
	display: flex;
	justify-content: space-between;
}

.btn {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: rgb(255, 255, 255);
}
/*END of Styles for Overall Site*/

/*General Header*/
.main-header {
	display: flex;
}

.main-logo {
	width: 154px;
	height: 64px;
	margin-top: 10px;
}

.main-navigation {
	display: flex;

	margin-top: 23px;
}

.main-navigation-list {
	display: flex;
	min-width: 350px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.main-navigation-item {
	margin: 0;
	padding: 0;
}

.main-navigation-link {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: rgb(255, 255, 255);
}

.main-navigation-link:hover,
.main-navigation-link:focus {
	color: rgb(50, 50, 50);

	background-color: rgb(247, 246, 243);
}

.main-navigation-link:active {
	background-color: rgb(237, 237, 237);
}

.main-navigation-link-current {
	background-color: rgb(208, 112, 88);
}

.dropdown-menu-list {
	margin: 0;
	padding: 0;

	list-style: none;	
}

.dropdown-menu-item a {
	font-size: 14px;
	line-height: 16px;
	color: rgb(50, 50, 50);
	background-color: rgb(247, 246, 243);
}

.dropdown-menu-item a:hover,
.dropdown-menu-item a:focus {
	background-color: rgb(251, 222, 215);
}

.dropdown-menu-item a:active {
	background-color: rgb(246, 181, 165);
}

a.dropdown-link-current {
	background-color: rgb(208, 112, 88);
}

.user-navigation {
	display: flex;
	margin: 0;
	margin-top: 23px;
	padding: 0;

	list-style: none;
}

.user-navigation-link {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;	
	color: rgb(255, 255, 255);

	background-color: rgba(255, 255, 255, .2);
}

.user-navigation-link:hover,
.user-navigation-link:focus,
.user-navigation-link:active {
	color: rgb(50, 50, 50);

	background-color: rgb(247, 246, 243);
}

.cart {
	background-color: rgb(248, 247, 244);
}

.cart-product,
.cart-cost {
	font-size: 13px;
	line-height: 16px;
	color: rgb(50, 50, 50);
}

.cart-product:hover,
.cart-product:focus {
	color: rgb(232, 77, 55);
}

.cart-prod-price {
	color: rgb(153, 153, 153);
}

.cart-summ {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: rgb(50, 50, 50);
}
/*END of General Header*/
.breadcrumbs {
	margin-bottom: 30px;
}

.breadcrumbs-list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.breadcrumbs-link,
.breadcrumbs-current {
	font-size: 14px;
	line-height: 16px;
	color: rgb(255, 255, 255);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active {
	color: rgb(255, 188, 158);
}

.catalog-title {
	font-size: 35px;
	line-height: 41px;
}

.schedule {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	text-align: right;
}

.phone-numb {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

.slider-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider-item p {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}

.offers {
	margin-bottom: 40px;
}

.offers-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.offers-desc {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}
/*Elements in Catalog*/
.catalog-title {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
}

.filters {
	margin-bottom: 35px;
}

.filter {
	width: 860px;
	padding-right: 19px;
}

.filter-row {
	display: flex;
}

.fieldset-filter {
	margin: 0;
	padding: 0;

	border: none;
}

.filter-title {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-assortment {
	margin: 0;
	padding: 0 15px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: rgb(255, 255, 255);

	background-color: rgba(255, 255, 255, .2);
	border: none;
}

.filter-assortment:hover,
.filter-assortment:focus {
	color: rgb(50, 50, 50);
}

.filter-sort {
	font-size: 14px;
	line-height: 16px;
	color: rgb(50, 50, 50);

	background-color: #fff;
}

.filter-cost:hover {
	cursor: pointer;
}

.filter-layout {
	background-color: rgba(255, 255, 255, .2);
}

.filter-value {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.btn-filter {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: rgb(255, 255, 255);

	background-color: rgba(255, 255, 255, .2);
}

.btn-filter:hover,
.btn-filter:focus {
	color: rgb(50, 50, 50);

	background-color: rgb(255, 255, 255);
}

.btn-filter:active {
	color: rgb(50, 50, 50);

	background-color: rgb(234, 234, 234);
}

/*Goods*/
.goods {
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 70px;
	padding: 0;

	list-style: none;
}

.product-item {
	width: 267px;
	margin: 0;

	margin-right: 26px;
	padding: 0;
}

.product-item:nth-child(4n) {
	margin-right: 0;
}

.product {
	margin: 0;
	padding: 0;
}

.product-link {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;	
	color: rgb(255, 255, 255);
}

.product-link:hover,
.product-link:focus,
.product-link:active {
	color: rgb(255, 188, 158);
}

.product-price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.product-price span {
	font-size: 30px;
}
/*END of Goods*/

.features {
	margin-bottom: 40px;

	color: rgb(50, 50, 50);
}

.features-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.features-list {
	list-style: none;
}

.features-item {
	font-size: 16px;
	line-height: 22px;
}

.blog-subscribe {
	margin-bottom: 40px;
}

.blog {
	width: 520px;
	margin: 0;	
	padding: 25px 20px;

	background-color: rgb(255, 255, 255);
}

.blog-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: rgb(50, 50, 50);
}

.blog-link {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: rgb(50, 50, 50);
}

.blog-link:hover,
.blog-link:focus,
.blog-link:active {
	color: rgb(232, 77, 55);
}

.subscribe {
	width: 510px;
	margin: 0;
	padding: 35px 25px;

	background-color: rgb(248, 247, 244);
}

.subscribe-txt {
	color: rgb(90, 90, 90);
}

.contacts-map {
	position: relative;

	margin-bottom: 18px;

	margin-left: -27px;
}

.contacts-info {
	position: absolute;
	top: 63px;
	right: 27px;

	width: 250px;
	padding: 30px 25px;

	background-color: rgb(255, 255, 255);
}

.contacts-description {
	font-size: 14px;
	line-height: 20px;
	color: rgb(50, 50, 50);
}

.contacts-data {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;	
}

.pagination-list {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	text-align: right;

	list-style: none;
}

.pagination-item {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: rgb(255, 255, 255);
}

.pagination-item:hover,
.pagination-item:focus {
	background-color: rgba(255, 255, 255, .2);
}

.pagination-item:active {
	color: rgb(50, 50, 50);

	background-color: rgb(255, 255, 255);
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
	color: rgb(50, 50, 50);

	background-color: rgb(255, 255, 255);
}

.main-footer {
	margin-bottom: 30px;
}

.social {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;

	margin: 0;
	padding: 0;

	list-style: none;
}

.social-item {
	margin-right: 11px;
}

.social-item:last-child {
	margin-right: 0;
}

.footer-menu {
	display: flex;
	align-items: flex-end;
}

.footer-menu-list {
	margin: 0;
	margin-right: 30px;
	padding: 0;
	
	list-style: none;
}

.footer-menu-link {
	font-size: 13px;
	line-height: 18px;
	color: rgb(255, 255, 255);
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
	color: rgb(255, 188, 158);
}

.copyright-txt {
	margin: 0;
	padding: 0;

	font-size: 12px;
	line-height: 18px;
	color: rgb(255, 255, 255);
}

.copyright-link{
	color: rgb(255, 255, 255);
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {	
	color: rgb(255, 188, 158);
}

/*Form styling*/
.form {
	background-color: rgb(248, 247, 244);
}

.field-input {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: rgb(50, 50, 50);
}

.field-input::placeholder,
.field-textarea::placeholder {
	font-weight: 400;
	color: rgb(153, 153, 153);
}

.field-input:focus::-webkit-input-placeholder {
	color: transparent;
}

.field-input:focus::-moz-placeholder {
	color: transparent;
}

.field-input:focus:-ms-input-placeholder {
	color: transparent;
}

.field-label {
	font-size: 11px;
	line-height: 13px;
	color: rgb(91, 157, 223);

	display: none;
}

.field-textarea {
	resize: none;
}

.field-input:focus + .field-label,
.field-textarea:focus + .field-label {
	display: block;
}

.field-input:hover,
.field-textarea:hover {
}

.login-reg {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: rgb(50, 50, 50);
}

.login-reg:hover,
.login-reg:focus {
	color: rgb(232, 77, 55);
}

.feedback {
	width: 420px;
	padding: 20px 25px;
	background-color: rgb(248, 247, 244);
}

.feedback-title {
	padding: 0;
	margin: 0;

	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: rgb(50, 50, 50);
}
/*END of Form styling*/