.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
psd/
backup
build
node_modules
gllacy.code-workspace
gulpfile.js
.travis.yml
img/gllacy-catalog-1200.jpg
img/gllacy-catalog.jpg
img/gllacy-index-1200.jpg


